#about {
	background-color: #f2f2f2;
	color: gray;
	padding-top: 50px;
	padding-left: 50px;
	padding-bottom: 150px;
}

#about h1 {
	margin-top: 50px;
}

#about img {
	display: block;
	width: 360px;
	margin-top: 75px;
	margin-left: auto;
	margin-right: auto;
}

#about #work {
	font-family: 'Myriad Set Pro', sans-serif;
}

.block {
	height: 700px;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
}

#contact {
	padding-top: 75px;
	background-color: #a6e0df;
	height: 500px;
}

#contact h1 {
	margin-left: 50px;
}

#contact h3 {
	margin-top: 50px;
}

#contact img {
	margin-top: 50px;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
	-webkit-transition: all 0.2s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;
 }

 #contact img:hover {
 	-webkit-transform: scale(1.15);
 	transform: scale(1.15);
 }

#link {
	margin-left: 400px;
}

#mail {
	margin-left: 100px;
}

#me {
	background-image: url(../images/seattlePic.jpg);
	background-size: cover;
	background-attachment: fixed;
	padding-top: 175px;
}

#me img {
	background-color: rgba(0, 0, 0, .2);
	display: block;
	margin-top: 200px;
	margin-left: auto;
	margin-right: auto;
	transition-property: background-color, color;
  	transition-duration: 300ms;
 	transition-timing-function: ease-in-out;
 	border-radius: 50%;
}

#me img:hover {
	background-color: rgba(0, 0, 0, .4);
	border-radius: 50%;
}

#meWords {
	font-weight: 900;
	background-color: rgba(0, 0, 0, .15);
	width: 60%;
}

#meWords, #quote {
	color: #f2f2f2;
	display: block;
}

.navbar-nav>li>a {
	color: #69dbcd;
	font-size: 16px;
	float: left;
	transition-property: font-size;
  	transition-duration: 300ms;
 	transition-timing-function: ease-in-out;
}

.navbar-nav>li>a:hover {
	font-size: 20px;
	color: #50aa9e;;
}

#work {
	padding-top: 100px;
	padding-bottom: 75px;
}

#work > h1, > h3, > p{
	color: black;
	padding: 5px;
}

#work img {
	display: block;
	width: 360px;
	margin-left: auto;
	margin-right: auto;
}

.workImg {
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
	-webkit-transition: all 0.2s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;
}

.workImg:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.05);
}

#quote {
	background: url(../images/montana.jpg);
	background-size: cover;
	background-attachment: fixed;
	padding-top: 175px;
	font-size: 26px;
	color: black;
}


@media screen and (max-width: 768px) {
	#about img {
		width: 300px;
	}
}